.header {
    padding: 92px 50px 92px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 18px;
}

.header-nav--link.active {
    border-bottom: none;
}

.header-nav ul {
    display: flex;
    gap: 26px;
    list-style-type: circle;
}

.header-nav li:first-child {
    list-style-type: none;
}

.header-logo {
    display: block;
    width: 148px;
    border-bottom: none;
}

.header-address {
    max-width: 240px;
    justify-self: end;
}

.header-address {
    font-style: normal;
}

.cover {
    padding: 165px 50px 50px;
    background-color: black;
}



.lots {

}

.about {

}