.header {
  padding: 92px 50px 92px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
}

.header__link.active {
  border-bottom: none;
}

.header__links-list {
  display: flex;
  gap: 28px;
  list-style-type: circle;
}

.header__links-list-item {
  padding-left: 2px;
}

.header__links-list-item:first-child {
  list-style-type: none;
}

.header__logo {
  display: block;
  width: 130px;
  border-bottom: none;
}

address {
  max-width: 240px;
  font-style: normal;
  line-height: 24px;
}

.header__address {
    justify-self: end;
}

.cover {
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: -2;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.6;
  background-color: #000;
  
}

.cover__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 106px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.aligned-text {
  display: block;
}

.aligned-text.center {
  text-align: center;
}

.aligned-text.right {
  text-align: right;
}

.cover__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 0.7em;
}

.bet-button {
  background-color: rgb(0, 0, 0, 0);
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 32px 11px;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
}

.lots {
    padding: 180px 24px 120px;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.lots__card-list {
    z-index: -2;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:25px
}

.lots__card-list-item {
    margin-bottom: 30px;
}

.card {
    height: 596px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -2;
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;
    padding: 48px 40px;
}

.card__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.card.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    font-size: 20px;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    margin-left: 30px;
}

.about {
    display: grid;
    grid-template-columns: 334px 2fr;
    gap: 25px;
    margin: 0 24px 180px;
}

.about__logo {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin-top: 35px;
    margin-left: 37px;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 133px;
    margin-bottom: 100px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}

.footer {
    padding: 0 50px 82px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.footer__address { 
    line-height: 24.3px;
}

.footer__menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.footer__menu-link.active {
    border: 0;
}

.footer__social-list {
    list-style-type: none;
    display: flex;
    gap: 48px;
}

.footer__social-link {
    border: 0;
}

.footer__social-icon {
    width: 48px;

}
